// SHRINK THE MAP SECTION
.expand
{
    width: 0px;
    height: 500px;
    margin-left: 100px;
    padding: 5px;
    display: inline-block;
    border: 1px solid yellow;
    align-items: center;
}

@keyframes expand {
    100%{transform: scale(100px);}
}
