// SHRINK THE MAP SECTION
.expand
{
    position: relative;
    left: 0;
    top:0;
    // height: 100vh;
    border: 1px solid red;
    animation: expand;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    will-change:transform;
    // width: 50px;
    // height: 50px;
}

@keyframes expand {
100%{transform: scale(100px);}
}
