// .wrapper {
//     width: 960px;
//     border: 1px solid red;
//     margin: auto;
//     display: flex;
//     flex-direction: row;
//     align-items: stretch;
//     justify-content: center;
// }
//
// div {
//
//     border: 1px solid black
// }


.rouge {
    width: 100px;
    height: 100px;
    transform: translateX(100%);
    will-change : transform;
    transform-origin: center;
}
.bleu {
    /*display: none;*/
    width: 150px;
    height: 150px;
    transform: scaleX(0);
    transform-origin: right;
    will-change : transform;

}



/* CI dessous les class pour animation*/


.apparition-map{
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transform: translateX(0%)!important;
}
.delete-map{
    transform-origin: center;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transform: translateX(50%) !important;
}

.apparition-right{
    transform-origin: right;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transform: scaleX(1) !important;
}

.delete-right{
    transform-origin: right;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transform: scaleX(0);
}
