
// THIS IS INVENTARY STYLE
.wrapper-inventary
{
    position: relative;
    margin: auto;

    .insertion-items-form
    {
        position: fixed;
        height: 100%;
        width: 250px;
        background: #d7382a;
        color:#001833 ;
        padding: 20px;



        label
        {
            font-family: Helvetica, Arial, sans-serif;
            color: #fefefe;
        }

        .field-input
        {
            display: inline-block;

            input
            {
                outline:  none;
                height: 20px;
                border: 1px solid #e2e6ea;
                border-radius: 0;
                background: #fefefe;
                // padding: 0 10%;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 13px;
                line-height: 1;
                -webkit-appearance: none;
                color: #001832;
                // width: 50px;
                margin-bottom: 10px;

                &.field-file
                {
                    border: none;
                }
            }



            &.areatext
            {
                position: relative;
                width: 100%;
                height: 300px;

                textarea
                {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 10px;
                    border: 1px solid #e2e6ea;
                    border-radius: 0;
                    background:  #fefefe;
                    color: #001832;
                    outline:  none;
                    font-family: Helvetica, Arial, sans-serif;
                    font-size: 13px;
                    line-height: 1;
                    resize: none;
                    -webkit-appearance: none;
                    outline:  none;
                }
            }
        }
        .field-submit
        {
            input
            {
                // position: absolute;
                background: #fefefe;
                color: #d7382a;
                width: 120px;
                height: 40px;
                border: none;
                margin: auto;
                font-size: 13px;
                margin-bottom: 10px;
                outline:  none;

                &:hover
                {
                    background: #2fb682 ;
                    color: #fefefe;
                    border: 2px solid #fefefe;
                    transition-duration: 0.5s;
                }
            }
        }
    }

    .success
    {
        color: green;
    }

    .error
    {
        color: red;
    }

    .products-wrapper
    {
        position: relative;
        width: 600px;
        height: 50px;
        border: 1px solid #d7382a;
        display: block;
        margin-top: 10px;
        left: 300px;

        .todo
        {
            position: relative;
            margin-left: 20px;
            margin-right: 20px;

            .validate{

                display: inline-block;
                margin-right: 30px;
                a{
                    color: #d7382a;
                    text-decoration: none;

                }
            }
            .header-todo
            {
                position: relative;
                width: 100%;
                display: inline-block;

                .todo-named
                {
                    line-height: 50%;
                    color: #001833;
                    height: 100%;
                    font-family: 'Roboto Condensed', sans-serif;
                    display: inline-block;
                    padding-right: 20px;
                    border-right: 2px #d7382a solid;
                }

                .border-todo{
                    display: inline-block;
                    height: 100%;
                    width: 5px;
                    background: blue;
                }
                .edit_button
                {
                    position: absolute;
                    display: inline-block;
                    width: 20px;
                    height: 100px;
                    right: 28px;
                    top: 10px;

                    .edit_img
                    {
                        position: relative;
                        height: auto;
                        width: 100%;
                    }
                }

                .delete_button{
                    position: absolute;
                    display: inline-block;
                    width: 20px;
                    height: 50px;
                    right: 0px;
                    top: 10px;

                    .delete_img
                    {
                        height: auto;
                        width: 100%;
                    }
                }
            }

            .image
            {
                position: relative;
                height: 150px;
                width: 150px;
                display: inline-block;

                .product-picture
                {
                    // position: absolute;
                    width: 100%;
                    height: auto;
                    vertical-align: center;

                }
            }

            .border-product
            {
                height: 2px;
                background: #001833;
                width: 100%;
            }

            p
            {
                margin: 10px 0 5px 0;
                font-family: Helvetica, Arial, sans-serif;
                display: inline-block;
                &.details-entered
                {
                    margin-bottom: 5px;
                    padding-left: 10px;
                    color: #d7382a;
                }
                // &.description-entered {
                //     height: 100
                //         overflow-y: scroll;
                //         line-height: 50%;
                //     }
                }
            }

    }
    .product-wrapper-validate
    {
        border: 4px solid #2fb682;

    }


}
