html {
    background-color: #0B182B;

<<<<<<< HEAD

    body
    {

        max-width: 1440px;
        height: 1550px;
        overflow: hidden;
=======
    body
    {

        min-width: 960px;
        max-width: 1440px;
        height: 1550px;
        // overflow: hidden;
>>>>>>> 2832a0383643d890c45c9ac32023f0195382f84e
        // CONTAINER

        .container-stats
        {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: auto;


            // HEADER
            header
            {

<<<<<<< HEAD
=======
                height: 100px;
>>>>>>> 2832a0383643d890c45c9ac32023f0195382f84e
                border-bottom: 3px solid $blue_clear;

                .title-stats
                {
                    font-family: earthorbiter;
                    line-height: 50px;
                    text-align: center;
                    font-size: 40px;
                    color:$blue_clear;
                    letter-spacing: 20px;
                }

                .paragraph-stats-presentation
                {
                    line-height: 30px;
                    letter-spacing:10px;
                    text-align: center;
                    color:#fefefe;
                    font-family: 'lato', sans-serif;
<<<<<<< HEAD
                    padding-bottom: 10px;
=======
>>>>>>> 2832a0383643d890c45c9ac32023f0195382f84e

                }
            }

            //CONTENT
            .main
            {
                position: relative;
                height: 600px;
                width: 100%;
                overflow: hidden;
                margin: auto;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: center;
                flex-wrap: wrap;

                // MAP SECTION
                .section-map
                {
                    // display: inline-block;
                    position: absolute;
                    left: 0;
                    width: 50%;
                    height: 100%;
                    background: #0B182B;
                    padding: 2px;
                    transform: translateX(50%);
                    will-change : transform;
                    transform-origin: center;


                    #vmap
                    {
                        position: absolute;
                        // left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }

                    .jqvmap-label
                    {
                        position: absolute;
                        display: none;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        background: #292929;
                        color: white;
                        font-family: sans-serif, Verdana;
                        font-size: smaller;
                        padding: 3px;
                        pointer-events:none;
                    }
                    .jqvmap-pin
<<<<<<< HEAD
                    {
                        pointer-events:none;
                    }
                    .jqvmap-zoomin, .jqvmap-zoomout
                    {
=======
                    {
                        pointer-events:none;
                    }
                    .jqvmap-zoomin, .jqvmap-zoomout
                    {
>>>>>>> 2832a0383643d890c45c9ac32023f0195382f84e
                        position: absolute;
                        left: 10px;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        background: $blue_clear;
<<<<<<< HEAD
                        padding: 7px;
                        color: white;
                        width: 30px;
                        height: 30px;
=======
                        padding: 3px;
                        color: white;
                        width: 20px;
                        height: 20px;
>>>>>>> 2832a0383643d890c45c9ac32023f0195382f84e
                        cursor: pointer;
                        line-height: 13px;
                        text-align: center;
                        margin-top: 5px;
                    }
                    .jqvmap-zoomin
                    {
                        top: 10px;
                    }
                    .jqvmap-zoomout
                    {
<<<<<<< HEAD
                        top: 50px;
=======
                        top: 30px;
>>>>>>> 2832a0383643d890c45c9ac32023f0195382f84e
                    }
                    .jqvmap-region
                    {
                        cursor: pointer;
                    }

                    .jqvmap-ajax_response
                    {
                        width: 100%;
                        height: 500px;
                    }

                }



                // SECTION DESCRIPTION AND GRAPH :
                .section-right
                {
                    position: absolute;
                    display: inline-block;
                    right: 0;
                    width: 50%;
                    height: 100%;
                    transform: scaleX(0);



                    .agency
                    {
                        position: relative;
                        width: 100%;
                        height: 50%;
                        display: flex;
                        color: white;
                        background: #1c2430;
                        border-left: 3px solid $blue_clear;
                        padding: 5px;
                            font-family: 'lato', sans-serif;



                        &.agency-one
                        {
                            border-bottom: 1px solid  $blue_border;
                        }

                        .title_agence
                        {
                            font-size: 2rem;
                            margin-bottom: 15px;

                        }

                        .description-agency
                        {
                            text-align: center;
                            display: inline-block;
                            width: 35%;
                            height: 100%;
                            border-right: 1px solid $blue_border;

                            div
                            {

                                text-align: left;
                                font-size: 13px;
                                margin-bottom: 15px;

                            }
                        }
                        .graphic-agency
                        {
                            display: inline-block;
                            width: 65%;
                            height: 100%;
                            margin-left: 10px;

                            h4
                            {
                                text-align: center;
                                font-size: 1.2rem;
                            }

                        }

                        .wrapper-close
                        {
                            width: 30px;
                            height: 100%;
                            margin-left: 7px;
                            display: flex;
                            align-items: center;
                            border: 1px solid red;
                            a
                            {
                                margin-left: 8px;

                            }
                        }

                    }
                }
            }
        }
    }

    .apparition-map{
        transition-property: transform;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
        transform: translateX(0%)!important;
    }
    .delete-map{
        transform-origin: center;
        transition-property: transform;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
        transform: translateX(50%) !important;
    }

<<<<<<< HEAD
    .apparition-right{
        transform-origin: right;
        transition-property: transform;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
        transform: scaleX(1) !important;
=======
    // RESPONSIVE
    @media query {

>>>>>>> 2832a0383643d890c45c9ac32023f0195382f84e
    }

    .delete-right{
        transform-origin: right;
        transition-property: transform;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
        transform: scaleX(0);
    }
}
