@font-face {
  font-family: earthorbiter;
  src: url("../fonts/earthorbiter.ttf");
  font-weight: 300;
  letter-spacing: 20px; }

/* CI dessous les class pour animation*/
.apparition-map {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transform: translateX(0%) !important; }

.delete-map {
  transform-origin: center;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transform: translateX(50%) !important; }

.apparition-right {
  transform-origin: right;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transform: scaleX(1) !important; }

.delete-right {
  transform-origin: right;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transform: scaleX(0); }

.title {
  position: absolute;
  font-weight: 300;
  top: 36%;
  left: 0;
  right: 0;
  margin-top: -80px;
  font-family: earthorbiter, 'lato', 'Arial', sans-serif;
  font-size: 130px;
  text-align: center;
  letter-spacing: 20px;
  padding-left: 20px;
  background: -webkit-linear-gradient(white, #dbdde0, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-name: animGravity; }

.home-subtitle {
  position: absolute;
  font-weight: 300;
  top: 55%;
  left: 0;
  right: 0;
  font-size: 25px;
  text-align: center;
  letter-spacing: 6px;
  font-family: 'lato', sans-serif; }
  .home-subtitle .home-subtitle_welcome {
    margin-bottom: 45px; }
  .home-subtitle .home-subtitle_explication {
    margin-bottom: 60px; }
  .home-subtitle .lets-go {
    text-decoration: none; }
    .home-subtitle .lets-go span {
      color: #B0DAFF;
      font-size: 2.5rem;
      animation-duration: 6s;
      animation-timing-function: ease;
      animation-fill-mode: forwards; }
    .home-subtitle .lets-go span:nth-child(1) {
      animation-name: animDont; }
    .home-subtitle .lets-go span:nth-child(2) {
      animation-name: animLet; }
    .home-subtitle .lets-go span:nth-child(3) {
      animation-name: animGo; }

@keyframes animDont {
  0%, 15% {
    transform: translateY(-26px);
    opacity: 0; }
  35%, 100% {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes animLet {
  0%, 25% {
    transform: translateY(-26px);
    opacity: 0; }
  45%, 100% {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes animGo {
  0%, 35% {
    transform: translateY(-26px);
    opacity: 0; }
  55%, 100% {
    transform: translateY(0px);
    opacity: 1; } }

html {
  background-color: #0B182B; }
  html body {
    min-width: 960px;
    max-width: 1440px;
    height: 1550px; }
    html body .container-stats {
      position: absolute;
      width: 100%;
      height: 100%;
      margin: auto; }
      html body .container-stats header {
        height: 100px;
        border-bottom: 3px solid #00BBFF; }
        html body .container-stats header .title-stats {
          font-family: earthorbiter;
          line-height: 50px;
          text-align: center;
          font-size: 40px;
          color: #00BBFF;
          letter-spacing: 20px; }
        html body .container-stats header .paragraph-stats-presentation {
          line-height: 30px;
          letter-spacing: 10px;
          text-align: center;
          color: #fefefe;
          font-family: 'lato', sans-serif; }
      html body .container-stats .main {
        position: relative;
        height: 600px;
        width: 100%;
        overflow: hidden;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap; }
        html body .container-stats .main .section-map {
          position: absolute;
          left: 0;
          width: 50%;
          height: 100%;
          background: #0B182B;
          padding: 2px;
          transform: translateX(50%);
          will-change: transform;
          transform-origin: center; }
          html body .container-stats .main .section-map #vmap {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px; }
          html body .container-stats .main .section-map .jqvmap-label {
            position: absolute;
            display: none;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background: #292929;
            color: white;
            font-family: sans-serif, Verdana;
            font-size: smaller;
            padding: 3px;
            pointer-events: none; }
          html body .container-stats .main .section-map .jqvmap-pin {
            pointer-events: none; }
          html body .container-stats .main .section-map .jqvmap-zoomin, html body .container-stats .main .section-map .jqvmap-zoomout {
            position: absolute;
            left: 10px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background: #00BBFF;
            padding: 3px;
            color: white;
            width: 20px;
            height: 20px;
            cursor: pointer;
            line-height: 13px;
            text-align: center;
            margin-top: 5px; }
          html body .container-stats .main .section-map .jqvmap-zoomin {
            top: 10px; }
          html body .container-stats .main .section-map .jqvmap-zoomout {
            top: 30px; }
          html body .container-stats .main .section-map .jqvmap-region {
            cursor: pointer; }
          html body .container-stats .main .section-map .jqvmap-ajax_response {
            width: 100%;
            height: 500px; }
        html body .container-stats .main .section-right {
          position: absolute;
          display: inline-block;
          right: 0;
          width: 50%;
          height: 100%;
          transform: scaleX(0); }
          html body .container-stats .main .section-right .agency {
            position: relative;
            width: 100%;
            height: 50%;
            display: flex;
            color: white;
            background: #1c2430;
            border-left: 3px solid #00BBFF;
            padding: 5px;
            font-family: 'lato', sans-serif; }
            html body .container-stats .main .section-right .agency.agency-one {
              border-bottom: 1px solid #979797; }
            html body .container-stats .main .section-right .agency .title_agence {
              font-size: 2rem;
              margin-bottom: 15px; }
            html body .container-stats .main .section-right .agency .description-agency {
              text-align: center;
              display: inline-block;
              width: 35%;
              height: 100%;
              border-right: 1px solid #979797; }
              html body .container-stats .main .section-right .agency .description-agency div {
                text-align: left;
                font-size: 13px;
                margin-bottom: 15px; }
            html body .container-stats .main .section-right .agency .graphic-agency {
              display: inline-block;
              width: 65%;
              height: 100%;
              margin-left: 10px; }
              html body .container-stats .main .section-right .agency .graphic-agency h4 {
                text-align: center;
                font-size: 1.2rem; }
            html body .container-stats .main .section-right .agency .wrapper-close {
              width: 30px;
              height: 100%;
              margin-left: 7px;
              display: flex;
              align-items: center;
              border: 1px solid red; }
              html body .container-stats .main .section-right .agency .wrapper-close a {
                margin-left: 8px; }
