/**********

VARIABLES

***********/
/*********

STYLE
********/
body {
  position: relative;
  font-family: Helvetica, Arial, sans-serif; }
  body .wrapper-index .titre-formulaire-inscription {
    text-align: center;
    margin-bottom: 50px;
    color: #001832;
    font-size: 24px;
    font-weight: 800;
    margin: 50px 0 20px;
    text-transform: uppercase; }
  body .wrapper-index .description {
    margin: auto;
    text-align: left;
    width: 300px; }
  body .wrapper-index .messages.success p {
    color: green; }
  body .wrapper-index .messages.error p {
    color: red; }
  body .wrapper-index .identification-form div {
    margin: 30px 0;
    width: 300px;
    margin: auto; }
    body .wrapper-index .identification-form div label {
      display: block;
      margin-bottom: 10px;
      font-size: 13px; }
    body .wrapper-index .identification-form div input {
      height: 40px;
      border: 1px solid #e2e6ea;
      border-radius: 0;
      background: transparent;
      padding: 0 2%;
      font-size: 13px;
      color: #001832;
      width: 100%;
      margin-bottom: 10px;
      -webkit-appearance: none; }
    body .wrapper-index .identification-form div input:focus {
      outline: none; }
    body .wrapper-index .identification-form div.button-inscription input {
      background-color: #001832;
      border-radius: 3px;
      bottom: 30px;
      color: #ffffff;
      cursor: pointer;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 15px;
      padding: 12px 30px;
      text-align: center;
      text-transform: uppercase;
      width: 310px; }
  body .wrapper-index .identification-form span {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    margin-left: 560px; }
  body .wrapper-index .messages {
    text-align: center; }
  body .wrapper-index .error label {
    color: red; }
  body .wrapper-inventaire .insertion-items {
    width: 500px;
    height: 500px;
    border: 1px solid red;
    margin: left; }
